In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv(r"C:\Users\test01\Downloads\Churn_Modelling.csv")

In [3]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
dataset.isnull().any()

RowNumber          False
CustomerId         False
Surname            False
CreditScore        False
Geography          False
Gender             False
Age                False
Tenure             False
Balance            False
NumOfProducts      False
HasCrCard          False
IsActiveMember     False
EstimatedSalary    False
Exited             False
dtype: bool

In [5]:
dataset.drop(columns=['RowNumber','CustomerId','Surname'],inplace=True)

In [6]:
dataset

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...
9970,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
x=dataset.iloc[:,:-1].values

In [8]:
x

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [9]:
y=dataset.iloc[:,-1].values

In [10]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
lb=LabelEncoder()

In [13]:
x[:,1]=lb.fit_transform(x[:,1])

In [14]:
x

array([[619, 0, 'Female', ..., 1, 1, 101348.88],
       [608, 2, 'Female', ..., 0, 1, 112542.58],
       [502, 0, 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 0, 'Female', ..., 0, 1, 42085.58],
       [772, 1, 'Male', ..., 1, 0, 92888.52],
       [792, 0, 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [15]:
x[:,2]=lb.fit_transform(x[:,2])

In [16]:
x

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

In [17]:
from sklearn.preprocessing import OneHotEncoder

In [18]:
one=OneHotEncoder(categorical_features=[1])

In [19]:
x=one.fit_transform(x).toarray()

In [20]:
x

array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [21]:
x=x[:,1:]

In [22]:
x

array([[0.0000000e+00, 0.0000000e+00, 6.1900000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 1.0000000e+00, 6.0800000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [0.0000000e+00, 0.0000000e+00, 5.0200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [0.0000000e+00, 0.0000000e+00, 7.0900000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [1.0000000e+00, 0.0000000e+00, 7.7200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [0.0000000e+00, 0.0000000e+00, 7.9200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [25]:
x_train

array([[0.0000000e+00, 1.0000000e+00, 6.6700000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.6383064e+05],
       [1.0000000e+00, 0.0000000e+00, 4.2700000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 5.7098000e+04],
       [0.0000000e+00, 0.0000000e+00, 5.3500000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.8563076e+05],
       ...,
       [0.0000000e+00, 0.0000000e+00, 7.3800000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.8142987e+05],
       [0.0000000e+00, 1.0000000e+00, 5.9000000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 1.4875016e+05],
       [1.0000000e+00, 0.0000000e+00, 6.2300000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.1885526e+05]])

In [26]:
x_test

array([[1.0000000e+00, 0.0000000e+00, 5.9700000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 1.9285267e+05],
       [0.0000000e+00, 0.0000000e+00, 5.2300000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.2870210e+05],
       [0.0000000e+00, 1.0000000e+00, 7.0600000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 7.5732250e+04],
       ...,
       [0.0000000e+00, 1.0000000e+00, 5.7800000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.4153319e+05],
       [1.0000000e+00, 0.0000000e+00, 6.5000000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 1.1276480e+04],
       [1.0000000e+00, 0.0000000e+00, 5.7300000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.9295060e+05]])

In [27]:
y_train

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [28]:
y_test

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [29]:
from sklearn.preprocessing import MinMaxScaler#since we using gradient descent

In [30]:
sc=MinMaxScaler()

In [31]:
x_train=sc.fit_transform(x_train)

In [32]:
x_test=sc.transform(x_test)

In [33]:
x_train

array([[0.        , 1.        , 0.634     , ..., 1.        , 0.        ,
        0.81917353],
       [1.        , 0.        , 0.154     , ..., 1.        , 1.        ,
        0.28545936],
       [0.        , 0.        , 0.37      , ..., 1.        , 0.        ,
        0.92818454],
       ...,
       [0.        , 0.        , 0.776     , ..., 1.        , 0.        ,
        0.90717809],
       [0.        , 1.        , 0.48      , ..., 1.        , 1.        ,
        0.74376393],
       [1.        , 0.        , 0.546     , ..., 1.        , 0.        ,
        0.59427515]])

In [34]:
x_test

array([[1.        , 0.        , 0.494     , ..., 1.        , 1.        ,
        0.96429754],
       [0.        , 0.        , 0.346     , ..., 1.        , 0.        ,
        0.64351406],
       [0.        , 1.        , 0.712     , ..., 1.        , 1.        ,
        0.37863951],
       ...,
       [0.        , 1.        , 0.456     , ..., 1.        , 0.        ,
        0.70767563],
       [1.        , 0.        , 0.6       , ..., 1.        , 1.        ,
        0.05632988],
       [1.        , 0.        , 0.446     , ..., 1.        , 0.        ,
        0.96478724]])

In [35]:
!pip install tensorflow==1.5

Requirement already satisfied: tensorflow==1.5 in c:\programdata\anaconda3\lib\site-packages (1.5.0)
Requirement already satisfied: tensorflow-tensorboard<1.6.0,>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow==1.5) (1.5.1)
Requirement already satisfied: numpy>=1.12.1 in c:\programdata\anaconda3\lib\site-packages (from tensorflow==1.5) (1.14.3)
Requirement already satisfied: protobuf>=3.4.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow==1.5) (3.6.0)
Requirement already satisfied: wheel>=0.26 in c:\programdata\anaconda3\lib\site-packages (from tensorflow==1.5) (0.31.1)
Requirement already satisfied: six>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow==1.5) (1.11.0)
Requirement already satisfied: absl-py>=0.1.6 in c:\programdata\anaconda3\lib\site-packages (from tensorflow==1.5) (0.7.1)
Requirement already satisfied: bleach==1.5.0 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-tensorboard<1.6.0,>=1.5.0->tensorflow==1.5) (1.5.0)
Requirement already satisfied: werkzeug>=0.11.10 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-tensorboard<1.6.0,>=1.5.0->tensorflow==1.5) (0.14.1)
Requirement already satisfied: html5lib==0.9999999 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-tensorboard<1.6.0,>=1.5.0->tensorflow==1.5) (0.9999999)
Requirement already satisfied: markdown>=2.6.8 in c:\programdata\anaconda3\lib\site-packages (from tensorflow-tensorboard<1.6.0,>=1.5.0->tensorflow==1.5) (3.1.1)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from protobuf>=3.4.0->tensorflow==1.5) (39.1.0)

distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 19.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [36]:
import tensorflow

C:\ProgramData\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [37]:
import keras

Using TensorFlow backend.

# Neural Network Model

# Step 1: Importing Libaries

In [38]:
from keras.models import Sequential#to initialize
from keras.layers import Dense#to add layers

# Step 2: Initialize the neural network model

In [39]:
model=Sequential()
x_train.shape

(8000, 11)

# step 3: Add input layer

In [40]:
model.add(Dense(input_dim=11,init="random_uniform",activation="relu",output_dim=20))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(input_dim=11, activation="relu", units=20, kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

# step 4: Add hidden layer

In [41]:
model.add(Dense(init="random_uniform",activation="relu",output_dim=15))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=15, kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

# step 5: Add output layer

In [42]:
model.add(Dense(init="random_uniform",activation="sigmoid",output_dim=1))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="random_uniform")`
  """Entry point for launching an IPython kernel.

In [43]:
#11 neuron in i/p layer
#6 neuron in hidden layer
#1 neuron in output layer

# step 6: Compile the NN model

In [44]:
model.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])#loss='mse' for regression model

# step 7: Train the model

In [45]:
model.fit(x_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.5414 - acc: 0.7954
Epoch 2/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4716 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4570 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4480 - acc: 0.7960
Epoch 5/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4424 - acc: 0.7960
Epoch 6/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4372 - acc: 0.7960
Epoch 7/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4321 - acc: 0.7960
Epoch 8/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4289 - acc: 0.8105
Epoch 9/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4258 - acc: 0.8166
Epoch 10/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4238 - acc: 0.8204
Epoch 11/100
8000/8000 [==============================] - 0s 28us/step - loss: 0.4220 - acc: 0.8204
Epoch 12/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4209 - acc: 0.8251
Epoch 13/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.4191 - acc: 0.8254
Epoch 14/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4192 - acc: 0.8277
Epoch 15/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4176 - acc: 0.8276
Epoch 16/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4166 - acc: 0.8290
Epoch 17/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4159 - acc: 0.8280
Epoch 18/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4161 - acc: 0.8314
Epoch 19/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4152 - acc: 0.8295
Epoch 20/100
8000/8000 [==============================] - 0s 31us/step - loss: 0.4136 - acc: 0.8327
Epoch 21/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4134 - acc: 0.8305
Epoch 22/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4136 - acc: 0.8300
Epoch 23/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4131 - acc: 0.8311
Epoch 24/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4117 - acc: 0.8322
Epoch 25/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.4113 - acc: 0.8315
Epoch 26/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4116 - acc: 0.8320
Epoch 27/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4115 - acc: 0.8326
Epoch 28/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4111 - acc: 0.8320
Epoch 29/100
8000/8000 [==============================] - 0s 28us/step - loss: 0.4106 - acc: 0.8329
Epoch 30/100
8000/8000 [==============================] - 0s 27us/step - loss: 0.4095 - acc: 0.8330
Epoch 31/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4098 - acc: 0.8334
Epoch 32/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.4100 - acc: 0.8320
Epoch 33/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4091 - acc: 0.8314
Epoch 34/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.4098 - acc: 0.8322
Epoch 35/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4089 - acc: 0.8330
Epoch 36/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4083 - acc: 0.8316
Epoch 37/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.4082 - acc: 0.8321
Epoch 38/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4074 - acc: 0.8334
Epoch 39/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4084 - acc: 0.8340
Epoch 40/100
8000/8000 [==============================] - 0s 28us/step - loss: 0.4073 - acc: 0.8339
Epoch 41/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4080 - acc: 0.8341
Epoch 42/100
8000/8000 [==============================] - 0s 27us/step - loss: 0.4067 - acc: 0.8334
Epoch 43/100
8000/8000 [==============================] - 0s 27us/step - loss: 0.4067 - acc: 0.8334
Epoch 44/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.4068 - acc: 0.8337
Epoch 45/100
8000/8000 [==============================] - 0s 27us/step - loss: 0.4075 - acc: 0.8307
Epoch 46/100
8000/8000 [==============================] - 0s 28us/step - loss: 0.4071 - acc: 0.8339
Epoch 47/100
8000/8000 [==============================] - 0s 30us/step - loss: 0.4064 - acc: 0.8327
Epoch 48/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4064 - acc: 0.8332
Epoch 49/100
8000/8000 [==============================] - 0s 28us/step - loss: 0.4053 - acc: 0.8335
Epoch 50/100
8000/8000 [==============================] - 0s 35us/step - loss: 0.4058 - acc: 0.8351
Epoch 51/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.4061 - acc: 0.8331
Epoch 52/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4067 - acc: 0.8331
Epoch 53/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4051 - acc: 0.8342
Epoch 54/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4052 - acc: 0.8329
Epoch 55/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4056 - acc: 0.8329
Epoch 56/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4059 - acc: 0.8335
Epoch 57/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4046 - acc: 0.8351
Epoch 58/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4055 - acc: 0.8331
Epoch 59/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4051 - acc: 0.8336
Epoch 60/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4048 - acc: 0.8353
Epoch 61/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4047 - acc: 0.8348
Epoch 62/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4040 - acc: 0.8332
Epoch 63/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4043 - acc: 0.8341
Epoch 64/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4038 - acc: 0.8350
Epoch 65/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4042 - acc: 0.8319
Epoch 66/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4037 - acc: 0.8315
Epoch 67/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4033 - acc: 0.8340
Epoch 68/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4039 - acc: 0.8342
Epoch 69/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4027 - acc: 0.8335
Epoch 70/100
8000/8000 [==============================] - 0s 27us/step - loss: 0.4040 - acc: 0.8331
Epoch 71/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4035 - acc: 0.8325
Epoch 72/100
8000/8000 [==============================] - 0s 27us/step - loss: 0.4030 - acc: 0.8344
Epoch 73/100
8000/8000 [==============================] - 0s 27us/step - loss: 0.4030 - acc: 0.8355
Epoch 74/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4035 - acc: 0.8335
Epoch 75/100
8000/8000 [==============================] - 0s 28us/step - loss: 0.4034 - acc: 0.8336
Epoch 76/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4029 - acc: 0.8350
Epoch 77/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4028 - acc: 0.8330
Epoch 78/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4035 - acc: 0.8335
Epoch 79/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4033 - acc: 0.8322
Epoch 80/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4021 - acc: 0.8334
Epoch 81/100
8000/8000 [==============================] - 0s 27us/step - loss: 0.4027 - acc: 0.8340
Epoch 82/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4023 - acc: 0.8346
Epoch 83/100

8000/8000 [==============================] - 0s 27us/step - loss: 0.4019 - acc: 0.8345
Epoch 84/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4018 - acc: 0.8354
Epoch 85/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4019 - acc: 0.8342
Epoch 86/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4028 - acc: 0.8348
Epoch 87/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4026 - acc: 0.8357
Epoch 88/100
8000/8000 [==============================] - 0s 26us/step - loss: 0.4031 - acc: 0.8349
Epoch 89/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4027 - acc: 0.8341
Epoch 90/100
8000/8000 [==============================] - 0s 27us/step - loss: 0.4017 - acc: 0.8349
Epoch 91/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4014 - acc: 0.8335
Epoch 92/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.4014 - acc: 0.8348
Epoch 93/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4014 - acc: 0.8355
Epoch 94/100
8000/8000 [==============================] - 0s 27us/step - loss: 0.4021 - acc: 0.8354
Epoch 95/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.4014 - acc: 0.8344
Epoch 96/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4006 - acc: 0.8351
Epoch 97/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.4009 - acc: 0.8357
Epoch 98/100
8000/8000 [==============================] - 0s 24us/step - loss: 0.4006 - acc: 0.8339
Epoch 99/100
8000/8000 [==============================] - 0s 29us/step - loss: 0.4008 - acc: 0.8359
Epoch 100/100
8000/8000 [==============================] - 0s 25us/step - loss: 0.4005 - acc: 0.8370

# step 8: Test the model

In [46]:
y_pred=model.predict(x_test)

In [47]:
y_pred#beacuse we used sigmoid function

array([[0.20104253],
       [0.3398843 ],
       [0.14228445],
       ...,
       [0.17075782],
       [0.1346818 ],
       [0.12985632]], dtype=float32)

In [48]:
y_test

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [49]:
y_pred=y_pred>0.5

In [50]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [51]:
from sklearn.metrics import accuracy_score

In [52]:
accuracy_score(y_test,y_pred)

0.841